.THIS .title {
    font-weight : bold; 
    font-size: larger;
}
.THIS .messageDiv {
    width: 98%;
    font-weight: bold;
}
.THIS .layout {
    border : 1px solid rgb(221, 219, 218);
    border-radius : 5px;
    background : white;
    width : 100%;
    
}
.THIS .rightAlign {
    text-align : right;
}
.THIS .leftAlign {
    text-align : left;
}
.THIS .alignCenter {
    text-align : center;
}
.THIS .topAndBottomBorder {
    border-width: 1px 0px;
    border-style : solid;
    border-color : rgb(221, 219, 218);
}
.THIS .lgc-bg {
    background-color: rgb(242, 242, 242);
}

.THIS .lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}

.THIS .errorMessageDiv {
    z-index: 1000;
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    font-weight: 200;
    border-radius: .25rem;
    font-size: .80rem;
    width:100%;
    text-align:left;
}

.THIS .dataTableComponent {
    width: 98%;
}

.THIS .emptyEntryMessage {
    font-weight: bolder;
    margin: 3%;
    font-size: inherit;
    color: rgb(106, 111, 115);
}