.THIS .slds-modal__container{
    width: 70% !important;
    max-width:50rem;
}
.THIS slds-modal__content{
    overflow-y:scroll;
}
.THIS .errorMessageDiv {
    z-index: 9000;
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    font-weight: 200;
    border-radius: .25rem;
    font-size: .80rem;
    width:100%;
}
.THIS .natureOfQuery .slds-form-element__label {
    display : none;
}
.THIS .natureOfQuery {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: rgb(62, 62, 60);
    font-size: .75rem;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .lafStandardLayoutContainer.desktop .viewport .stage .slds-template__container .slds-spinner_container {
    z-index: 9000;
}

.THIS.slds-spinner_container {
    /*z-index: 1000000 !important;*/
    top: -200px;
}