.THIS .slds-button_brand, .THIS .slds-button--brand {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #dddbda;
    -webkit-transition: border 0.15s linear;
    transition: border 0.15s linear;
    background-color: #0070d2;
    border-color: #0070d2;
    color: #fff;
}
.THIS.slds-card {
    padding: 0;
    background: rgb(255, 255, 255); 
    border: 1px solid rgb(221, 219, 218) !important;
    border-radius: .25rem; 
    background-clip: padding-box; 
}
.THIS .floatLeft{
    float:left;
}
.THIS.slds-spinner_container {  
    z-index: 10000;
    position: fixed;
    width: 100%;
    background-color: transparent;
}