.THIS .title {
    font-weight : bold; 
}
.THIS.layout {
    border : 1px solid rgb(221, 219, 218);
    border-radius : 5px;
    background : white;
    width : 98%;
    margin : 1%;
}
.THIS .rightAlign {
    text-align : right;
}
.THIS .leftAlign {
    text-align : left;
}
.THIS .alignCenter {
    text-align : center;
}
.THIS .topAndBottomBorder {
    border-width: 1px 0px;
    border-style : solid;
    border-color : rgb(221, 219, 218);
}
.THIS .lgc-bg {
    background-color: rgb(242, 242, 242);
}

.THIS .lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}