<apex:page standardController="ProformaInvoice__c" title="{!ProformaInvoice__c.Name}">
    <apex:includeLightning />
    <div id="WarehouseAllocationComponent" />
    
    <script>
    $Lightning.use("c:addDesiredProductsApp", function() {
        $Lightning.createComponent("c:WarehouseAllocationComponent",
                                   { recordId : '{!ProformaInvoice__c.Id}' },
                                   "WarehouseAllocationComponent",
                                   function(cmp) {
                                       // do some stuff
                                   });
    });
    </script>
   
</apex:page>