.THIS .errorMessageDiv {
    z-index: 1000;
    background: rgb(194, 57, 52);
    padding: 1rem;
    color: rgb(255, 255, 255);
    line-height: 1.25;
    font-weight: 200;
    border-radius: .25rem;
    font-size: .80rem;
    width:100%;
}
.THIS .sectionTitle {
    font-weight : bold; 
    font-size: large;
}
.THIS .layout {
    border : 1px solid rgb(221, 219, 218);
    border-radius : 5px;
    background : white;
    width : 100%; 
}
.THIS .topAndBottomBorder {
    border-width: 1px 0px;
    border-style : solid;
    border-color : rgb(221, 219, 218);
}